/* ALL DOCUMENT */
/* --- */
/* --- */
body {
    font-family: 'Montserrat', sans-serif;
}

/* colore nav-bar */
.navbar-default {
    background-color: transparent;
    border: none;
}

/* TOP-NAV */
/* --- */
/* --- */
#top-nav {
    background-color: #2c3e50;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px;
}

#top-nav .navbar-default .navbar-nav > li > a,
#top-nav .navbar-default .navbar-brand,
#top-nav .navbar {
    color: white;
}

#top-nav .navbar-brand {
    padding: 0;
    line-height: 50px;
}

#top-nav .navbar,
#top-nav .navbar .container-fluid,
#top-nav .navbar .container-fluid > .navbar-header {
    padding: 0;
    margin: 0;
}

/* hamburger style */
.navbar-toggle {
    background-color: #1abc9c;
    border: 2px solid #1abc9c;
    border-radius: 8px;
    margin: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}


#top-nav .navbar-toggle .icon-bar {
    width: 20px;
    height: 3px;
}
#top-nav .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
    margin: 2px 0;
}
/* fine hamburger style */

#top-nav .navbar-collapse {
    font-size: 16px;
}

/* --- */
/* --- */
/* MEDIA QUERY */
/* --- */
/* --- */
@media screen and (min-width: 768px) {
    /* NAV-TOP */
    .navbar-toggle {
        display: block;
    }

    .navbar-header {
        float: none;
    }

    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar>.container-fluid .navbar-brand {
        margin-left: 0;
    }
}

@media screen and (min-width: 992px) {
    /* NAV-TOP */
    #top-nav {
        padding: 24px;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-header {
        float: left;
    }

    .navbar-collapse.collapse {
        display: block!important;
    }

    .navbar-brand {
        font-size: 24px;
    }

}
